@model OnlineExamPortal.Models.Registration

<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login_Registration.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="title">
                Forgot Password
            </div>
            <form asp-action="ForgetPass">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group field">

                    <input asp-for="Email" class="form-control" placeholder="Enter Email Id"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="form-group field">
                    <input type="submit" value="Submit" />
                </div>
            </form>



            
        </div>
    </div>

    
</body>
</html>
