@model OnlineExamPortal.Models.Question

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        .title-hea h1 {
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 1.5em;
            padding-bottom: 15px;
            position: relative;
        }

            .title-hea h1:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                width: 55px;
                background-color: #111;
            }

            .title-hea h1:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 2px;
                height: 1px;
                width: 95%;
                max-width: 255px;
                background-color: #333;
            }
    </style>
</head>

<body>
    <div class="title-hea">
        <h1>New Question</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control">
                        <option value="Multiple">Multiple</option>
                        <option value="True or False">True or False</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question1" class="control-label"></label>
                    <input asp-for="Question1" class="form-control" />
                    <span asp-validation-for="Question1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Option1" class="control-label"></label>
                    <input asp-for="Option1" class="form-control" />
                    <span asp-validation-for="Option1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Option2" class="control-label"></label>
                    <input asp-for="Option2" class="form-control" />
                    <span asp-validation-for="Option2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Option3" class="control-label"></label>
                    <input asp-for="Option3" class="form-control" />
                    <span asp-validation-for="Option3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Option4" class="control-label"></label>
                    <input asp-for="Option4" class="form-control" />
                    <span asp-validation-for="Option4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Option5" class="control-label"></label>
                    <input asp-for="Option5" class="form-control" />
                    <span asp-validation-for="Option5" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CorrectOption" class="control-label"></label>
                    <input asp-for="CorrectOption" class="form-control" />
                    <span asp-validation-for="CorrectOption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TopicId" class="control-label"></label>
                    <select asp-for="TopicId" class="form-control" asp-items="ViewBag.TopicId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DifficultyLevel" class="control-label"></label>
                    <select asp-for="DifficultyLevel" class="form-control">
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>
</body>

</html>
